<div class="row">
	<div class="col-md-12">
		<span>Analyzed {{rowCount}} rows</span>
		
		<div class="btn-group pull-right" role="group" aria-label="Export format">
			<button type="button" class="btn btn-default" data-export="mysql">MySQL</button>
			<button type="button" class="btn btn-default" data-export="mariadb">MariaDB</button>
			<button type="button" class="btn btn-default" data-export="postgres">Postgres</button>
			<button type="button" class="btn btn-default" data-export="oracle">Oracle</button>
			<button type="button" class="btn btn-default" data-export="sqlite3">SQLite3</button>
		</div>
	</div>
</div>

<form id="schema" class="form-horizontal">
	<table class="table">
		<thead>
			<tr>
				<th class="field">Field</th>
				<th class="machine-name">Name</th>
				<th class="type">Type</th>
				<th class="length">Length</th>
				<th class="sample">Sample</th>
			</tr>
		</thead>
		<tbody>
			{{#each fields}}
			<tr>
				<td>
					<label for="fields[{{@index}}][machineName]" class="col-sm-2 control-label">{{@key}}</label>
				</td>
				<td>
					<input class="form-control" name="fields[{{@index}}][machineName]" id="fields[{{@index}}][machineName]" value="{{this.machineName}}">
				</td>
				<td>
					<select class="form-control" name="fields[{{@index}}][fieldType]">
						{{#select this.fieldType}}
						<option value="string">string</option>
						<option value="integer">integer</option>
						<option value="float">float</option>
						<option value="date">date</option>
						<option value="datetime">datetime</option>
						<option value="timestamp">timestamp</option>
						{{/select}}
					</select>
				</td>
				<td>
					<!--<input class="form-control" name="fields[{{@index}}][fieldLength]" value="{{this.maxLength}}">-->
					{{this.maxLength}}
				</td>
				<td class="sample">
					<code>{{this.sample}}</code>
				</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
</form>